body {
  background-image: url(https://www.kix.in/images/2016/ozlo-cityscape.png);
  background-size: 100%;
}


.header {
    background-color: black;
    font-family: 'Russo One', sans-serif;
}

h4 {
    padding: 0px;
    margin: 0px;

}

h1 {
  color: black;
  font-family: 'Patrick Hand SC', cursive;
  font-weight: bolder;
}

p {
  font-family: 'Patrick Hand SC', cursive;
  color: black;
  font-weight: bold;
  font-size: 25px;
}

div {
  font-family: 'Patrick Hand SC', cursive;
  color: black;
  font-weight: bold;
  font-size: 30px;
}
.btn-talk {
    -webkit-border-radius: 5;
    -moz-border-radius: 5;
    border-radius: 5px;
    font-family: Arial;
    color: black;
    font-size: 14px;
    font-weight: normal;
    background: #4caae8;
    padding: 5px;
    text-decoration: none;
    width: 18%;
    border: 0px;
    margin: 0px;
}

.btn-talk:hover {
    background-color: grey;
    text-decoration: none;
}

#left-sidebar {
    -webkit-border-radius: 5;
    -moz-border-radius: 5;
    border-radius: 5px;
    border: 0px solid #C0C2C5;
    padding: 3px;
    height: 450px;
    font-size: 16px;
    font-weight: bold;
}

#chat-area-wrapper {
    -webkit-border-radius: 5;
    -moz-border-radius: 5;
    border-radius: 5px;
    height: 450px;
    overflow: scroll;
    border: 1px solid #C0C2C5;
}

#chat-area {
    -webkit-border-radius: 5;
    -moz-border-radius: 5;
    border-radius: 5px;
    height:100%;
    overflow: hidden;
    height: 450px;
    border: 1px solid #C0C2C5;
    padding: 10px;
    font-size: 18px;
}

#question-area {
    -webkit-border-radius: 5;
    -moz-border-radius: 5;
    border-radius: 5px;
    height: 50px;
    overflow: scroll;
    padding: 2px;
    margin: 0px;
    border: 1px solid #C0C2C5;
    width: 100%;
}

#input {
  background-color: #fff;
  border: 0px solid #C0C2C5;
  font-family: sans-serif;
  color: #000;
  padding: 5px;
  margin-right: 3px;
  text-decoration: none;
  font-size: 20px;
  width: 80%;
}

#right-sidebar {
    -webkit-border-radius: 5;
    -moz-border-radius: 5;
    border-radius: 5px;
    height: 450px;
    overflow: hidden;
    border: 0px solid;
    font-size: 16px;
    font-weight: bold;
}
